body{
  text-align: center;
}

ul{
  list-style-type: none;
  text-align: right;
  padding-right: 25px;
}

li{
  padding: 10px;
}

#controlBoard{
}

.left, .right{
  float: left;
}

.right{
  width: 50%;
}

.left{
  width: 50%;
}

.wrapper{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.sliderText{
  width: 25px;
}

.board{
  margin-left: 25px;
  height: 600px; 
  width: 600px;
}

.board-container{
  width:550px;
  height: 550px;
  margin: 0;
}

td{
  text-align: right;
  padding: 2px;
}

.cell{
  border: 1px solid;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.blue{
  background-color: blue; 
}

.red{
  background-color: red;
}

.empty{
  background-color: white;
}

.moved{
    
}

/* jquery slider custom
from: http://jsfiddle.net/MauriceG/vyy65/light/;*/

hr { margin: 2em; border: none; }


input.ownslider.ui-slider-input{ display:none; }

.ownslider + div.ui-slider { margin-left: 1%; width: 96%; }

.ownslider + div.ui-slider .ui-slider-handle:after {
  font-size: 15px;
  position: absolute;
  margin-top: 6px;
  padding-left: 5px;
  content: attr(title); }

.ownslider + div.ui-slider-mini .ui-slider-handle:after {
  font-size: 13px;
  font-weight: normal; }

.ui-input-text + div.ui-slider .ui-slider-handle:active:before {
  font-size: 18px;
  position: absolute;
  top: -40px;
  left: -6px;
  padding: .2em .5em;
  background: inherit;
  content: attr(title); }

  .tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    padding: 5px;
    font-size: 11px;
    visibility: visible;
    margin-top: -2px;
    bottom:120%;
    margin-left: -2em;
}

.tooltip .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid #000000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}




